<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581319345416-oijg7nb3nus8fni8q5ia31u8slkfrmrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581319345416-oijg7nb3nus8fni8q5ia31u8slkfrmrs</string>
	<key>API_KEY</key>
	<string>AIzaSyAslp6rxD3SN9ozfVG5nWB5WdXmw32SsmM</string>
	<key>GCM_SENDER_ID</key>
	<string>581319345416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.theengram</string>
	<key>PROJECT_ID</key>
	<string>echo-vault-app</string>
	<key>STORAGE_BUCKET</key>
	<string>echo-vault-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581319345416:ios:ccdcb6aebd445eb189d8bd</string>
</dict>
</plist>